@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

@keyframes bounce-right {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }
}

@keyframes bounce-left {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}

.animate-bounce-right {
  animation: bounce-right 1s infinite;
}

.animate-bounce-left {
  animation: bounce-left 1s infinite;
}

/* Carousel 3D Effect */
.slick-slide {
  transition: all 0.5s ease;
  transform: scale(0.9);
  opacity: 0.5;
  filter: blur(2px);
}

.slick-center {
  transform: scale(1.05);
  /* Zoom in central slide */
  opacity: 1;
  filter: blur(0);
  z-index: 10;
}

/* Custom Slick Dots */
.slick-dots li button:before {
  font-size: 12px;
  color: rgb(156, 163, 175);
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  color: #16f2b3;
  opacity: 1;
  font-size: 14px;
}